#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }
}

@layer components {
  #root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }



  .title {
    @apply mb-4 text-2xl text-center font-bold;
  }

  .btn {
    @apply py-2 px-4 text-white rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75 transition-all duration-150;
  }

  .btn-primary {
    @apply btn bg-blue-500 hover:bg-blue-600 focus:ring-blue-400;
  }

  .btn-success {
    @apply btn bg-green-500 hover:bg-green-600 focus:ring-green-400;
  }

  .btn-error {
    @apply btn bg-red-500 hover:bg-red-600 focus:ring-red-400;
  }

  .input {
    @apply py-2 px-4 border border-blue-500 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-150;
  }
}